{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Contact
{% endblock %}

{% block contact %}<li class="active">{% endblock %}

{% block body %}
<!-- Start Contact -->
<section id="contact" class="p-top-50 p-bottom-30">
		<div class="container">
				<div class="section-title text-center m-bottom-50">
						<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Nous contacter</h2>
						<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Pour toute question, n'hésitez pas à nous contacter !</p>
						{% for type, messages in app.flashes %}
								{% for message in messages %}
										<div class="alert alert-{{ type }}">{{ message }}</div>
								{% endfor %}
						{% endfor %}
				</div>

    		<div class="row">
						<!-- === Contact Form === -->
						<div class="col-md-7 col-sm-7 p-bottom-30">
								<div class="contact-form row">
										{{ form_start(our_form) }}
												<div class="col-sm-6 contact-form-item wow zoomIn">
                            {{ form_row(our_form.name, {'attr': {'class': 'form-control'}}) }}
												</div>
												<div class="col-sm-6 contact-form-item wow zoomIn">
                            {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}
												</div>
												<div class="col-sm-12 contact-form-item wow zoomIn">
                            {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}
												</div>
												<div class="col-sm-12 contact-form-item">
														<button class="send_message btn btn-main btn-theme wow fadeInUp" id="send" data-lang="en">Envoyer</button>
												</div>
										{{ form_end(our_form) }}
								</div>
						</div>

						<!-- === Contact Information === -->
						<div class="col-md-5 col-sm-5 p-bottom-30">
								<address class="contact-info">

										<p class="m-bottom-30 wow slideInRight">Vous pouvez également nous contacter à partir des éléments suivants.</p>

										<!-- === Phone === -->
										<div class="m-top-20 wow slideInRight">
												<div class="contact-info-icon">
														<i class="fa fa-phone"></i>
												</div>
												<div class="contact-info-title">
														Téléphone
												</div>
												<div class="contact-info-text">
														+262 &#54; 93 &#52;&#54; 47 46
												</div>
										</div>

										<!-- === Mail === -->
										<div class="m-top-20 wow slideInRight">
												<div class="contact-info-icon">
														<i class="fa fa-envelope"></i>
												</div>
												<div class="contact-info-title">
														Courriel
												</div>
												<div class="contact-info-text">
														co<!-- anti-spam -->ntact<!-- @spam.org --><span class="aro"></span>&#108;&#111;&#119;-production<span class="pt"></span>rg
												</div>
										</div>

										<!-- === LinkedIn === -->
										<div class="m-top-20 wow slideInRight">
												<div class="contact-info-icon">
														<i class="fa fa-linkedin"></i>
												</div>
												<div class="contact-info-title">
														LinkedIn
												</div>
												<div class="contact-info-text">
														<a target="_blank" href="https://www.linkedin.com/company/low-production/">https://www.linkedin.com/company/low-production/</a>
												</div>
										</div>

										<!-- === Facebook === -->
										<div class="m-top-20 wow slideInRight">
												<div class="contact-info-icon">
														<i class="fa fa-facebook"></i>
												</div>
												<div class="contact-info-title">
														Facebook
												</div>
												<div class="contact-info-text">
														<a target="_blank" href="https://www.facebook.com/AssociationLowProduction">https://www.facebook.com/AssociationLowProduction</a>
												</div>
										</div>

										<!-- === Facebook === -->
										<div class="m-top-20 wow slideInRight">
												<div class="contact-info-icon">
														<i class="fa fa-instagram"></i>
												</div>
												<div class="contact-info-title">
														Instagram
												</div>
												<div class="contact-info-text">
														<a target="_blank" href="https://www.instagram.com/lowproduction.asso/">https://www.instagram.com/lowproduction.asso/</a>
												</div>
										</div>
								</address>
						</div>

				</div>
		</div>
</section>
<!-- End Contact -->
{% endblock %}

{% block js %}
	 {{parent()}}
{% endblock %}
