{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Accueil
{% endblock %}

{% block home %}<li class="active">{% endblock %}

{% block body %}
<!-- Start Slider -->
<section id="slider">
	<div class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" id="rev_slider_280_1_wrapper" style="background-color:#fff;padding:0px;height:1080px;">
		<!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
		<div class="rev_slider fullscreenbanner" id="rev_slider_nagency" style="display:none;">
				<ul style="display:none;">

					<!-- slider Item 1 -->
					<li data-index="rs-1" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="N.Agency" data-description="">
						<img src="{{asset('web/img/slider/s1.jpg')}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
							id="slide-1-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']"
							data-fontsize="['70','60','60','36']"
							data-lineheight="['70','60','60','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="chars"
							data-splitout="none"
							data-responsive_offset="on"
							data-elementdelay="0.05"
							style="z-index: 5; white-space: nowrap;">Low Production
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle tp-resizeme white-color rs-parallaxlevel-4"
							id="slide-1-layer-2"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
							data-fontsize="['28','24','24','20']"
							data-lineheight="['28','24','36','30']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1500"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"
							style="z-index: 6; white-space: nowrap;"><center>Association de production<br>audiovisuelle engagée</center>
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption rs-parallaxlevel-5"
							id="slide-1-layer-3"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
							data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
							data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
							data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_out="x:inherit;y:inherit;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"
							data-responsive="off"
							style=""><a data-scroll href='#service' class='btn btn-main btn-white'>En savoir plus</a>
						</div>

					</li>

					<!-- slider Item 2 -->
					<li data-index="rs-3" data-transition="slideremoveright" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off">
						<img src="{{asset('web/img/slider/s2.jpg')}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title tp-resizeme black-color rs-parallaxlevel-3"
							id="slide-1-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']"
							data-fontsize="['70','60','60','36']"
							data-lineheight="['70','60','60','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="chars"
							data-splitout="none"
							data-responsive_offset="on"
							data-elementdelay="0.05"
							style="z-index: 5; white-space: nowrap;">Documentaires engagés
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle tp-resizeme black-color rs-parallaxlevel-4"
							id="slide-1-layer-2"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
							data-fontsize="['28','24','24','20']"
							data-lineheight="['28','24','36','30']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1500"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"
							style="z-index: 6; white-space: nowrap;"><center>Sur les thématiques sociales<br>et environnementales</center>
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption rs-parallaxlevel-5"
							id="slide-1-layer-3"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
							data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
							data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
							data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_out="x:inherit;y:inherit;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"
							data-responsive="off"
							style=""><a data-scroll href='#portfolio' class='btn btn-main btn-black'>En savoir plus</a>
						</div>
					</li>

					<!-- slider Item 3 -->
					<li data-index="rs-2" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off">
						<img src="{{asset('web/img/slider/s3.jpg')}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
							id="slide-1-layer-1"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']"
							data-fontsize="['70','60','60','36']"
							data-lineheight="['70','60','60','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="chars"
							data-splitout="none"
							data-responsive_offset="on"
							data-elementdelay="0.05"
							style="z-index: 5; white-space: nowrap;">Nous soutenir
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-SubTitle tp-resizeme white-color rs-parallaxlevel-4"
							id="slide-1-layer-2"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
							data-fontsize="['28','24','24','20']"
							data-lineheight="['28','24','36','30']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
							data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
							data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
							data-start="1500"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on"
							style="z-index: 6; white-space: nowrap;"><center>Vous souhaitez rejoindre<br>l'aventure ou nous aider ?</center>
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption rs-parallaxlevel-5"
							id="slide-1-layer-3"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
							data-transform_idle="o:1;"
							data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
							data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
							data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
							data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
							data-mask_out="x:inherit;y:inherit;"
							data-start="2000"
							data-splitin="none"
							data-splitout="none"
							data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
							data-responsive_offset="on"
							data-responsive="off"
							style=""><a data-scroll href='#join' class='btn btn-main btn-white'>En savoir plus</a>
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
		</div>
	</div>
</section>
<!-- End Slider -->

<!-- Start Service -->
<section id="service" class="p-top-80 p-bottom-80">
		<div class="container">

				<div class="row">
						<div class="col-md-8 col-md-offset-2">
								<div class="section-title text-center m-bottom-40">
										<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s"><strong>Qui sommes-nous ?</strong></h2>
										<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
										<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
											Low Production est une association de <b>production audiovisuelle</b> engagée dans la <b>transition écologique</b>. Nous mettons en relation des bénévoles et <b>mutualisons des compétences</b> pour réaliser des <b>documentaires</b> sur les thématiques <b>sociales et environnementales</b>, en veillant à <b>minimiser</b> leur impact. N’ayant pas de but lucratif et fonctionnant principalement sur la base du bénévolat, nous <b>expérimentons</b> et <b>documentons</b> des techniques de production à <b>faible impact environnemental</b> pour imaginer les métiers audiovisuels de <b>demain</b>.
											<br><br>Que vous soyez réalisateur, ingénieur du son, graphiste, musicien... <b>professionnel</b> ou <b>amateur</b>, une place vous attend pour collaborer à la <b>réalisation</b> de projets documentaires <b>libres</b>, <b>collaboratifs</b> et à <b>faible impact environnemental</b> destinés à expérimenter et documenter de <b>nouvelles techniques</b> de <em>Low Production</em>.
											<br><br>Low Production s'oriente autour de <b>quatre axes</b> principaux :
										</p>
								</div>
						</div>
				</div>
				<div class="row">
						<!-- Service Item 1 -->
						<div class="col-md-3 col-sm-6 m-bottom-20">
								<div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
										<div class="service-icon">
												<i class="fa fa-video-camera" aria-hidden="true"></i>
										</div>
										<h4>La réalisation</h4>
										<div class="service-text">
												<p>Réaliser des documentaires engagés à <b>impact positif</b> sur les thématiques <b>sociales</b> et <b>environnementales</b>.</p>
										</div>
										<a href="#myGroup" data-scroll class="btn-more" data-toggle="collapse" data-target="#myGroup1" data-parent="#myGroup">En savoir plus</a>
								</div>
						</div>

						<!-- Service Item 2 -->
						<div class="col-md-3 col-sm-6 m-bottom-20">
								<div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
										<div class="service-icon">
												<i class="fa fa-users" aria-hidden="true"></i>
										</div>
										<h4>La collaboration</h4>
										<div class="service-text">
												<p><b>Collaborer</b> à plusieurs bénévoles et <b>mutualiser</b> des compétences au service d'un projet documentaire <b>commun</b>.</p>
										</div>
										<a href="#myGroup" data-scroll class="btn-more" data-toggle="collapse" data-target="#myGroup2" data-parent="#myGroup">En savoir plus</a>
								</div>
						</div>

						<!-- Service Item 3 -->
						<div class="col-md-3 col-sm-6 m-bottom-20">
								<div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
										<div class="service-icon">
												<i class="fa fa-unlock" aria-hidden="true"></i>
										</div>
										<h4>La diffusion libre</h4>
										<div class="service-text">
												<p><b>Créer</b> et <b>diffuser librement</b> nos oeuvres aux fins de les rendre <b>accessibles</b> au plus grand nombre.</p>
										</div>
										<a href="#myGroup" data-scroll class="btn-more" data-toggle="collapse" data-target="#myGroup3" data-parent="#myGroup">En savoir plus</a>
								</div>
						</div>

						<!-- Service Item 4 -->
						<div class="col-md-3 col-sm-6">
								<div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
										<div class="service-icon">
												<i class="fa fa-leaf" aria-hidden="true"></i>
										</div>
										<h4>La réduction</h4>
										<div class="service-text">
												<p><b>Réduire</b> continuellement notre <b>impact environnemental</b> en analysant le <b>cycle de vie</b> de nos projets.</p>
										</div>
										<a href="#myGroup" data-scroll class="btn-more" data-toggle="collapse" data-target="#myGroup4" data-parent="#myGroup">En savoir plus</a>
								</div>
						</div>
				</div>
				<div id="myGroup">
						<div class="accordion-group ">
								<div class="collapse" id="myGroup1">
										<h5>Réaliser</h5>
										<p>Nous proposons à nos bénévoles un cadre pour travailler <b>ensemble</b> sur un projet audiovisuel <b>commun</b>. Réalisateurs, ingénieurs du son, scénaristes, photographes, vidéastes, musiciens... forment ainsi un <b>collectif</b> de <b>bénévoles</b> réuni derrière la création de <b>documentaires engagés</b> sur les thématiques <b>sociales</b> et <b>environnementales</b>.</p>

										<h5 class="m-top-20">Le fonctionnement</h5>
										<ul class="timeline">
											<li>
												<h5 class='timeline-title'>#1 Proposition de projet</h5>
												<p>Tout membre peut présenter un projet de documentaire qui sera étudié et validé par l'ensemble de l'association.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#2 Choix du projet</h5>
												<p>Les membres de l'association choisissent ensemble un projet à réaliser avec l'aide du bureau qui veille à sa faisabilité.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#3 Constitution de l'équipe</h5>
												<p>En utilisant les réseaux de l’association, une équipe de bénévoles est montée pour répondre au projet selectionné.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#4 Préproduction</h5>
												<p>Une fois l’équipe constituée, la préproduction peut commencer (écriture, recherche de contenu, recherche de financements, <i>etc.</i>).</p>
											</li>
											<li>
												<h5 class='timeline-title'>#5 Production</h5>
												<p>Déplacements et tournage du projet.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#6 Post-production</h5>
												<p>Montage, étalonnage, effets spéciaux et mixage du projet.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#7 Communication et diffusion</h5>
												<p>L'association se charge de diffuser le documentaire grâce à ses réseaux (diffusion en ligne, ciné-débats et festivals).</p>
											</li>
										</ul>
								</div>
								<div class="collapse" id="myGroup2">
										<h5>Collaborer</h5>
										<p>En réunissant les <b>savoir-faire</b> de nos bénévoles sous un même projet <b>collaboratif</b>, nous disposons de toutes les <b>compétences</b> nécessaires à la réalisation de documentaires <b>qualitatifs</b> dont la seule limite est notre <b>créativité</b>. L'entraide est importante et permet à chacun de <b>transmettre tout en progressant</b>. Nous comptons des débutants, amateurs ou experts parmis nos bénévoles. En quelque sorte, Low Production est une <b>école audiovisuelle</b> par et pour ses participants.</p>
										<ul class="timeline">
											<li>
												<h5 class='timeline-title'>#1 Apprendre</h5>
												<p>Nos bénévoles sont aussi bien amateurs que professionnels. Low Production est une structure idéale pour apprendre les métiers de l'audiovisuel autour d'un projet pratique et découvrir de bonnes pratiques environnementales.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#2 Partager</h5>
												<p>Parce que nous pensons que le matériel audiovisuel est inaccessible pour de nombreuses personnes, Low Production le met à disposition gratuitement lors de ses activités. Ainsi partagé entre plusieurs personnes, notre matériel a une véritable utilité et ne reste pas au fond d'un placard.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#3 Transmettre</h5>
												<p>Chacun peut apporter son expertise, ses conseils et ses expériences. Notre association est un lieu de partage horizontal.</p>
											</li>
										</ul>
								</div>
								<div class="collapse" id="myGroup3">
										<h5>Diffuser librement</h5>
										<p>Les projets réalisés chez Low Production sont diffusés sous <b>licence libre</b> Creative Commons. Ils peuvent ainsi être partagés <b>librement et gratuitement</b>, même dans un cadre commercial. En travaillant ainsi, nous assurons une <b>équité dans la distribution et la diffusion</b> de nos réalisations. Lorsque la diffusion se fait dans un cadre <b>commercial</b>, nous encourageons les diffuseurs à <b>soutenir</b> l'association via une donation afin de <b>financer</b> et <b>encourager</b> de <b>futurs projets</b>.</p>
										<h5 class="m-top-20">Le fonctionnement</h5>
										<ul class="timeline">
											<li>
												<h5 class='timeline-title'>#1 Diffusion décentralisée</h5>
												<p>Le partage et la diffusion de nos projets sont libres et gratuits, même à des fins commerciales. Toutes nos réalisations sont disponibles sur ce site internet. Nous encourageons la diffusion libre et décentralisée de nos films.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#2 Ciné-débat et malette pédagogique</h5>
												<p>Les ciné-débats se prètent à la diffusion des oeuvres de Low Production puisqu'ils permettent de présenter l'association, les démarches associées à chaque film (collaboration, évaluation environnementale, <i>etc.</i>) et surtout de discuter les idées. Nous accompagnons chacune de nos réalisations d'une malette pédagogique afin de faciliter l'organisation des ciné-débats.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#3 Soutien</h5>
												<p>Low Production est une association à but non lucratif. La diffusion libre et publique de ses oeuvres leur permet un accès équitable. Dans le cadre d'une diffusion commerciale, nous encourageons les organisateurs à demander une entrée à prix libre pour soutenir l'association et financer ses futurs projets.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#4 Partage</h5>
												<p>Une fois la diffusion réalisée, nous encourageons les diffuseurs à partager leur évènement sur <a target="_blank" href="https://low-production.gogocarto.fr/map#/carte/@45.47,20.39,2z?cat=all">notre carte participative</a>. Cela nous permettra de suivre le rayonnement de nos projets :)</p>
											</li>
										</ul>
								</div>
								<div class="collapse" id="myGroup4">
										<h5>Réduire</h5>
										<p>Parce que nous considérons les arts audiovisuels comme une véritable source d'<b>émerveillement</b> et d'<b>engagement</b>, nous lui cherchons une place compatible avec le monde de <b>demain</b>. Low Production est animée par une question : <i>comment conter l'environnement sans l'impacter ?</i>
										<br><br>Pour <b>répondre</b> à cette question, nous accompagnons nos projets audiovisuels d'une <b>analyse de cycle de vie</b> (ACV). Cette méthode d'<b>évaluation environnementale</b> permet d'étudier selon plusieurs sphères de dommage l'impact de ce qui compose notre projet. Nous sommes alors en mesure d'<b>identifier</b> les composantes à <b>fort impact négatif</b> et ainsi les <b>réduire</b> lors de nos prochains projets.
										Cette méthodologie est <b>au coeur</b> du projet et de son évolution : nous cherchons à réduire continuellement l'impact environnemental de nos réalisations.
										<br><br>Le <b>défi est de taille</b> mais il s'avère nécessaire. C'est pourquoi nous <b>expérimentons</b> et diffusons en toute <b>transparence</b> nos résultats. Nos études sont ainsi <b>partagées librement</b> et peuvent servir de ressource aux structures souhaitant <b>initier leur transition</b>.
									</p>
										<h5 class="m-top-20">Le fonctionnement</h5>
										<ul class="timeline">
											<li>
												<h5 class='timeline-title'>#1 Collecte de données</h5>
												<p>Nous collectons des données tout au long du cycle de vie de nos documentaires (de l'idée à la diffusion).</p>
											</li>
											<li>
												<h5 class='timeline-title'>#2 Analyse de cycle de vie</h5>
												<p>Une fois le projet documentaire terminé, nous réalisons une analyse de cycle de vie (ACV) pour cibler les impacts négatifs principaux selon plusieurs sphères de dommage.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#3 Conclusions et pistes de réduction</h5>
												<p>À partir des résultats de l'ACV, nous pouvons proposer des pistes de réduction pour réduire chaque impact négatif identifié.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#4 Mise en oeuvre</h5>
												<p>Après concertation de l'association, nous mettons en place les solutions précedemment identifiées et réalisables.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#5 Publication</h5>
												<p>Nous publions les résultats et constats de l'analyse de cycle de vie dans un rapport dedié à chaque projet documentaire afin de rendre accessible ces informations et peut-être aider d'autres acteurs à engager leur transition.</p>
											</li>
											<li>
												<h5 class='timeline-title'>#6 Suivi et recommencement</h5>
												<p>Chaque action de réduction mise en oeuvre permet aux projets documentaires futurs d'être de moins en moins impactants. Cela ne doit pas empêcher la réalisation de nouvelles études afin d'orienter son développement vers une réduction continue et ambitieuse de ses impacts environnementaux.</p>
											</li>
										</ul>
								</div>
						</div>
				</div>
				<div class="row m-top-50">
						<div class="col-md-8 col-md-offset-2">
							<center>
								<a #id="bd-button" class="btn btn-main wow fadeInUp" href="{{url("story")}}" data-wow-duration="1s" data-wow-delay="0.8s">Découvrir les origines du projet</a>
							</center>
						</div>
				</div>
		</div>
</section>
<!-- End Service -->

<!-- Start Video Section -->
<div id="join" class="video-bg video-wrapper">
		<div class="video-overlay"></div>
		<a id="vidpause" class='btn btn-main btn-transparent-light'><i class="fa fa-pause"></i></a>
		<video style="width:100%;" autoplay muted loop id="bgvid">
				<source src="{{ asset('web/img/video-bg.mp4')}}" type="video/mp4">
		</video>
		<img src="{{ asset('web/img/video-bg.jpg')}}"></img>
		<div class="text-video-bg">
				<div class="video-caption text-center white-color">
						<h2 class="p-top-20">Nous soutenir</h2>
						<div class="divider-center-small divider-white"></div>
						<h6 class="p-20">Il est possible de nous soutenir en participant à nos missions ou en faisant une donation à l’association. </h6>
						<a href='{{url("support")}}' class='m-top-20 btn btn-main btn-white wow fadeInUp animated' data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">En savoir plus</a>
				</div>
		</div>
</div>
<!-- End Video Section -->

{% if projects is defined and projects is not null and projects|length > 0 %}
		<!-- Start Portfolio -->
		<section id="portfolio" class="light-bg p-top-80 p-bottom-80">
				<div class="container">

						<!-- Section Title -->
						<div class="section-title text-center m-bottom-30">
								<h2><strong>Nos derniers films</strong></h2>
								<div class="divider-center-small"></div>
						</div>

						<!-- Portfolio-filter -->
						<ul class="pf-filter text-center list-inline">
								<li><a href="#" data-filter="*" class="iso-active iso-button">Tous</a></li>
								{% for c in categories %}
										<li><a href="#" data-filter=".c{{c.id}}" class="iso-button">{{c.name}}</a></li>
								{% endfor %}
						</ul>

						<!-- Portfolio -->
						<div class="portfolio portfolio-isotope col-3 gutter">
								{% for project in projects %}
										<div class="pf-item {% if project.state is defined and project.state is not null %}c{{project.state.id}} {% endif %}">
												<a href="{{url("movie", {"id": project.id})}}" class="pf-style pf-pointer">
														<div class="pf-image">
																<img src="{{asset(vich_uploader_asset(project.picture, 'imageFile'))}}" alt="{{project.picture.name}}">
																<div class="overlay">
																		<div class="overlay-caption">
																				<div class="overlay-content">
																						<div class="pf-info white-color">
																								<h4 class="pf-title">{{project.name}}</h4>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</a>
										</div>
								{% endfor %}
						</div>
				</div>
		</section>
		<!-- End Portfolio -->
{% endif %}

{% if supporters is defined and supporters is not null and supporters|length > 0 %}
		<!-- Start Testimonial -->
		<section id="testimonials" class="parallax-bg overlay-dark p-top-80 p-bottom-80" style="background-image:url({{asset('web/img/testimonial-bg.jpg')}}" data-stellar-background-ratio="0.1">
				<!-- Section Title -->
				<div class="section-title text-center white-color m-bottom-40">
						<h2 class="wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0.6s">Ils nous soutiennent</h2>
						<div class="divider-center-small divider-white wow zoomIn" data-wow-duration="0.6s" data-wow-delay="0.6s"></div>
				</div>
				<!-- === Testimonials === -->
				<div id="owl-testimonials" class="owl-carousel owl-theme testimonial text-center white-color wow zoomIn"  data-wow-duration="0.6s" data-wow-delay="1s">
						{% for supporter in supporters %}
								<div class="testimonial-item text-center">
										<p class="testimonial-desc">{{supporter.quote|raw}}</p>
										<div class="testimonial-thumb">
												<img class="img-responsive" src="{{asset(vich_uploader_asset(supporter.picture, 'imageFile'))}}" alt="{{supporter.picture.name}}">
										</div>
										<a target="_blank" href="{{supporter.url}}"><h5 class="testimonial-author">{{supporter.name}}</h5></a>
										<h5 class="testimonial-profession">{{supporter.profession|raw}}</h5>
								</div>
						{% endfor %}
				</div>
		</section>
		<!-- End Testimonial -->
{% endif %}

{% if news is defined and news is not null and news|length > 0 %}
		<!-- Start blog -->
		<section id="blog" class="p-top-80 p-bottom-80">
				<div class="container ">
						<div class="row">
								<div class="col-md-8 col-md-offset-2">
										<!-- Section Title -->
										<div class="section-title text-center m-bottom-40">
												<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Dernières actualités</h2>
												<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
												<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Retrouvez ci-dessous nos dernières actualités.</p>
										</div>
								</div>
						</div>

						<div class="row">
								<!-- === blog === -->
								<div id="owl-blog" class="owl-carousel owl-theme">
										{% for new in news %}
												<div class="blog wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
														<div class="blog-media">
																<a  href="{{url("new", {"id": new.id})}}"><img src="{{asset(vich_uploader_asset(new.picture, 'imageFile'))}}" alt=""></a>
														</div>
														<div class="blog-post-info clearfix">
																<span class="time"><i class="fa fa-calendar"></i>{{new.publication|date("d/m/Y")}}</span>
																<span class="comments"><a href="#"><i class="fa fa-pencil"></i>{% if new.writer is defined and new.writer is not null %}{{new.writer.name}}{% endif %}</a></span>
														</div>
														<div class="blog-post-body">
																<h4><a class="title" href="{{url("new", {"id": new.id})}}">{{new.name}}</a></h4>
																<p class="p-bottom-20">{{ new.article|striptags > 30 ? new.article|striptags|slice(0, 31)|split(' ')|slice(0, -1)|join(' ') ~ '…' : new.article|striptags }}</p>
																<a href="{{url("new", {"id": new.id})}}" class="read-more">Lire la suite</a>
														</div>
												</div>
										{% endfor %}
								</div>
						</div>
				</div>
		</section>
{% endif %}

{% if partners is defined and partners is not null and partners|length > 0 %}
		<!-- Start client -->
		<section id="client" class="light-bg p-top-80 p-bottom-80">
				<div class="section-title text-center m-bottom-40">
						<h2>Nos partenaires</h2>
						<div class="divider-center-small"></div>
				</div>
				<!-- === Clients === -->
				<div class="container ">
						<div class="row">
								<div id="owl-clients" class="owl-carousel owl-theme client text-center">
										{% for partner in partners %}
												<div class="client-item text-center">
														<a target="_blank" href="{{partner.url}}"><img class="img-responsive" src="{{asset(vich_uploader_asset(partner.picture, 'imageFile'))}}" alt="{{partner.picture.name}}"></a>
												</div>
										{% endfor %}
								</div>
						</div>
				</div>
		</section>
		<!-- End client -->
{% endif %}

{% endblock %}

{% block js %}
	{{parent()}}

	<!-- RS Plugin Extensions -->
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.carousel.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.migration.min.js')}}"></script>
	<script src="{{ asset('web/js/visible-jquery.min.js')}}"></script>
	<script src="{{ asset('web/js/video-bg.js')}}"></script>

	<!-- Components Plugin -->
	<script src="{{ asset('web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{ asset('web/')}}js/isotope.pkgd.min.js"></script>
	<script src="{{ asset('web/')}}inc/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="{{ asset('web/')}}inc/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Slider configuration -->
	<script>
		var tpj = jQuery;

		var revapi280;
		tpj(document).ready(function() {
				if (tpj("#rev_slider_nagency").revolution == undefined) {
						revslider_showDoubleJqueryError("#rev_slider_nagency");
				} else {
						revapi280 = tpj("#rev_slider_nagency").show().revolution({
								sliderType: "standard",
								sliderLayout: "fullscreen",
								dottedOverlay: "none",
								delay: 90000,
								navigation: {
									keyboardNavigation:"off",
									keyboard_direction: "horizontal",
									mouseScrollNavigation:"off",
									onHoverStop:"off",
									touch:{
										touchenabled:"on",
										swipe_threshold: 75,
										swipe_min_touches: 1,
										swipe_direction: "horizontal",
										drag_block_vertical: false
									}
									,
									arrows: {
												style: "uranus",
												enable: true,
												hide_onmobile: true,
												hide_under: 496,
												hide_onleave: true,
												hide_delay: 200,
												hide_delay_mobile: 1200,
												tmp: '',
												left: {
														h_align: "left",
														v_align: "center",
														h_offset: 20,
														v_offset: 0
												},
												right: {
														h_align: "right",
														v_align: "center",
														h_offset: 20,
														v_offset: 0
												}
										}
								},
								responsiveLevels: [1200, 991, 767, 480],
								visibilityLevels: [1200, 991, 767, 480],
								gridwidth: [1200, 991, 767, 480],
								gridheight: [868, 768, 960, 720],
								lazyType: "all",
								parallax: {
									type:"mouse+scroll",
									origo:"slidercenter",
									speed:2000,
									levels:[2,3,4,5,6,7,12,16,10,50],
									disable_onmobile:"on"
								},
								shadow: 0,
								spinner: "spinner2",
								autoHeight: "off",
								fullScreenAutoWidth: "off",
								fullScreenAlignForce: "off",
								fullScreenOffsetContainer: "",
								fullScreenOffset: "0",
								disableProgressBar: "on",
								hideThumbsOnMobile: "off",
								hideSliderAtLimit: 0,
								hideCaptionAtLimit: 0,
								hideAllCaptionAtLilmit: 0,
								debugMode: false,
								fallbacks: {
										simplifyAll: "off",
										disableFocusListener: false,
								}
						});
				}
		}); /*ready*/

		//update owl-carousel / stop rewinding news
		$(document).ready(function() {
			var $carousel = jQuery('#owl-blog');
			var carouselData = $carousel.data();
			var carouselOptions = carouselData['owl.carousel'].options;
			carouselOptions.rewindNav = false;
			carouselOptions.loop = false;
			carouselOptions.rewind = false;
			$carousel.trigger('refresh.owl.carousel');
		});

	</script>

{% endblock %}
