{% extends 'base.html.twig' %}

{% set m = movie[0] %}

{% block title %}
	{{parent()}} | {{m.name}}
{% endblock %}

{% block og_img  %}{{asset(vich_uploader_asset(m.picture, 'imageFile'))}}{% endblock %}

{% block movies %}<li class="active">{% endblock %}

{% block body %}
<section id="blog-single" class="p-top-80 p-bottom-80">
		<div class="container clearfix">
				<div class="row">
						<div class="col-xs-12">
								<div class="postSingle">
										<div class="postMedia">
												<img alt="" src="{{asset(vich_uploader_asset(m.picture, 'imageFile'))}}" alt="{{m.picture.name}}">
										</div>

										<div class="postMeta clearfix">
												<div class="postMeta-info">
														<span class="metaCategory"><i class="fa fa-folder"></i>{{m.format}}</span>
														<span class="metaComment"><i class="fa fa-clock-o"></i>{{m.duration}}</span>
												</div>
												<div class="postMeta-date">
														<span class="metaDate"><i class="fa fa-calendar"></i>{% if m.publication is defined and m.publication is not null %} {{m.publication|date("d/m/Y")}} {% else %} en cours de réalisation {% endif %}</span>
												</div>
										</div>
										<div class="postTitle">
												<!-- title -->
												<h1>{{m.name}}</h1>
												<div class="divider-small"></div>
										</div>
										<!-- Synopsis -->
										<p>{{m.generalMessage|raw}}</p>
										<br>

										<div class="dropdown" {% if m.videos|length == 0 %} style="cursor: not-allowed;" {% endif %}>
											<a class="btn btn-main btn-theme m-5" {% if m.videos|length == 0 %} style="pointer-events: none!important;background-color: grey; border:black 1px solid; color: white;" {% endif %}>Visionner</a>
											<div class="dropdown-content">
												{% for video in m.videos %}
														<a data-toggle="collapse" data-parent="#myProject" data-target="#p{{m.id}}-{{video.id}}" aria-expanded="false" aria-controls="p{{m.id}}-{{video.id}}">{{video.name}}</a>
												{% endfor %}
											</div>
										</div>

										{% if m.showContributorsSection %}<a data-toggle="collapse" data-parent="#myProject" data-target="#p{{m.id}}-informations" aria-expanded="false" aria-controls="p{{m.id}}-informations" class="btn btn-main btn-transparent m-5">Informations</a> {% endif %}
										{% if m.showAcvSection %}<a data-toggle="collapse" data-parent="#myProject" data-target="#p{{m.id}}-acv" aria-expanded="false" aria-controls="p{{m.id}}-acv" class="btn btn-main btn-transparent m-5">Étude environnementale</a> {% endif %}
										{% if m.showEducationSection %}<a data-toggle="collapse" data-parent="#myProject" data-target="#p{{m.id}}-education" aria-expanded="false" aria-controls="p{{m.id}}-education" class="btn btn-main btn-transparent m-5">Malette pédagogique</a> {% endif %}
										{% if m.showSupportSection %}<a data-toggle="collapse" data-parent="#myProject" data-target="#p{{m.id}}-soutenir" aria-expanded="false" aria-controls="p{{m.id}}-soutenir" class="btn btn-main btn-transparent m-5">Soutenir</a> {% endif %}

										<div class="p-bottom-20 postTags clearfix">
												<h4><i class="fa fa-tags"></i>Catégories :</h4>
												<ul class="list-inline">
														{% for ctg in m.categories %}
															<li><a style="background-color:{{ctg.color}};">{{ctg.name}}</a></li>
														{% endfor %}
												</ul>
										</div>

										<div id="myProject">
												<div class="accordion-group ">
														{% for video in m.videos %}
																<div class="collapse" id="p{{m.id}}-{{video.id}}">
																	<div class="card card-body">
																		<div class="postTitle">
																				<!-- title -->
																				<h1>{{video.name}}</h1>
																				<div class="divider-small"></div>
																		</div>
																		<p>{{video.description|raw}}</p><br>
																		<div class="video-container">
																			{{video.iframe|raw}}
																		</div>
																		<div class="cc">{{video.licence|raw}}</div>
																	</div>
																</div>
														{% endfor %}
														{% if m.showContributorsSection %}
															<div class="collapse" id="p{{m.id}}-informations">
																<div class="postTitle p-top-20">
																		<!-- title -->
																		<h1>Informations</h1>
																		<div class="divider-small"></div>
																</div>
																<div class="card card-body">
																	<p>{{m.contributorsMessage|raw}}</p>
																	<b>CONTRIBUTEURS</b> :
																	<ul>
																		{% for c in contributors %}
																		<li><strong>{{c[0]}}</strong> : {{c[1]|raw}}</li>
																		{% endfor %}
																	</ul>

																	<b>PARTENAIRES DU PROJET</b> :
																	<ul>
																		{% for p in m.getPartners %}
																			<li>{{p.getName}} : <a target='_blank' href='{{p.getUrl}}'>{{ p.getUrl }}</a></li>
																		{% endfor %}
																	</ul>
																</div>
															</div>
														{% endif %}
														{% if m.showAcvSection %}
														<div class="collapse" id="p{{m.id}}-acv">
															<div class="card card-body">
																<div class="postTitle">
																		<!-- title -->
																		<h1>Étude environnementale</h1>
																		<div class="divider-small"></div>
																</div>
																<p>{{m.acvMessage|raw}}</p>
															</div>
														</div>
													{% endif %}
													{% if m.showEducationSection %}
														<div class="collapse" id="p{{m.id}}-education">
															<div class="card card-body">
																<div class="postTitle">
																		<!-- title -->
																		<h1>Malette pédagogique</h1>
																		<div class="divider-small"></div>
																</div>
																<p>{{m.educationMessage|raw}}</p>
															</div>
														</div>
													{% endif %}
													{% if m.showSupportSection %}
														<div class="collapse" id="p{{m.id}}-soutenir">
															<div class="card card-body">
																<div class="postTitle">
																		<!-- title -->
																		<h1>Nous soutenir</h1>
																		<div class="divider-small"></div>
																</div>
																<p>{{m.supportMessage|raw}}</p>
																{% if m.showSupport %}
																	{% if m.getUrlCrowdfunding is defined and m.getUrlCrowdfunding is not null %}
																		<p>Vous pouvez <b>soutenir la réalisation de ce projet documentaire</b> en participant à la <a target="_blank" href="{{m.getUrlCrowdfunding}}">campagne de crowdfunding</a> en cours.</p>
																	{% else %}
																		<p>Vous pouvez <b>soutenir la réalisation de nos documentaires</b> en <a target="_blank" href="https://www.helloasso.com/associations/low-production/formulaires/1/widget">faisant un don</a> à l'association.</p>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													{% endif %}
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>

{% endblock %}

{% block js %}
	{{parent()}}
	<script src="{{asset('web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{asset('web/')}}js/isotope.pkgd.min.js"></script>

{% endblock %}
