{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Nos films
{% endblock %}

{% block movies %}<li class="active">{% endblock %}

{% block body %}

<!-- Start Films -->
<section id="films" class="p-top-40 p-bottom-80">
		<div class="container">

			<div class="row p-bottom-40">
					<div class="col-md-8 col-md-offset-2">
							<div class="section-title text-center m-bottom-40">
									<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s"><strong>Nos projets</strong></h2>
									<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
									<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
										Retrouvez l'ensemble des projets documentaires <b>produits, réalisés et diffusés</b> par Low Production.</p>
									</p>
							</div>
					</div>
			</div>

				<!-- Portfolio-filter -->
				<ul class="pf-filter pf-filter-gray text-center list-inline">
						<li><a href="#" data-filter="*" class="iso-active iso-button">Tous</a></li>
						<li><a href="#" data-filter=".done" class="iso-button">Réalisés</a></li>
						<li><a href="#" data-filter=".doing" class="iso-button">En cours</a></li>
						<li><a href="#" data-filter=".todo" class="iso-button">À venir</a></li>
				</ul>

				<!-- Portfolio -->
				<div class="portfolio portfolio-isotope col-3">
						{% for project in projects %}
								<!-- Portfolio Item -->
								<div class="pf-item">
										<a href="{{url("movie", {"id": project.id})}}" class="pf-style">
												<div class="pf-image">
														<img src="{{asset(vich_uploader_asset(project.picture, 'imageFile'))}}" alt="{{project.picture.name}}">
														<div class="overlay">
																<div class="overlay-caption">
																		<div class="overlay-content">
																				<div class="pf-info white-color">
																						<h4 class="pf-title">{{project.name}}</h4>
																						<p>{{project.description|raw}}</p>
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</a>
								</div>
						{% endfor %}
				</div> <!-- Portfolio -->

		</div> <!-- /.container -->
</section>
<!-- End Films -->

<!-- Start Call to Action -->
<section class="light-bg p-top-60 p-bottom-60">
		<div class="container">
				<div class="row">

						<div class="col-xs-12 c2a-content text-center">
								<!-- Text -->
								<h2 class="wow fadeInDown" data-wow-delay="0.3s">Vous aimeriez contribuer à ces projets ? </h2>
								<p class="m-bottom-30 wow fadeInDown" data-wow-delay="0.4s">Il y a plusieurs moyens de s'investir dans l'association.</p>
								<!-- Button -->
								<a href="{{url('support')}}" class="btn btn-main btn-theme wow fadeInUp" data-wow-delay="0.5s">En savoir plus</a>
						</div> <!-- /.col -->

				</div>  <!-- /.row -->
		</div> <!-- /.container -->
</section>
<!-- End Call to Action -->

{% endblock %}

{% block js %}
	{{parent()}}
	<script src="{{asset('bundles/web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{asset('bundles/web/')}}js/isotope.pkgd.min.js"></script>

{% endblock %}
