{% extends 'base.html.twig' %}

{% set n = new[0] %}

{% block title %}
	{{parent()}} | {{n.name}}
{% endblock %}

{% block news %}<li class="active">{% endblock %}

{% block body %}

<section id="blog-single" class="p-top-80 p-bottom-80">
		<div class="container clearfix">
				<div class="row">
						<div class="col-xs-12">
								<div class="postSingle">
										<div class="postMedia">
												<img src="{{asset(vich_uploader_asset(n.picture, 'imageFile'))}}" alt="{{n.picture.name}}">
										</div>
										<div class="postMeta clearfix">
												<div class="postMeta-info">
														{% if n.writer is defined and n.writer is not null %}<span class="metaAuthor"><i class="fa fa-pencil"></i>{{n.writer.name}}</span>{% endif %}
														{% if n.project is defined and n.project is not null %}<span class="metaAuthor"><i class="fa fa-folder"></i><a href="{{url("movie", {"id": n.project.id})}}">{{n.project.name}}<a></span>{% endif %}
												</div>
												<div class="postMeta-date">
														<span class="metaDate"><i class="fa fa-calendar"></i>{{n.publication|date("d/m/Y")}}</span>
												</div>
										</div>
										<div class="postTitle">
												<h1>{{n.name}}</h1>
												<div class="divider-small"></div>
										</div>
										<p>{{n.article|raw}}</p>
								</div>
						</div>
				</div>
		</div>
</section>

{% endblock %}

{% block js %}
	{{parent()}}
	<script src="{{asset('web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{asset('web/')}}js/isotope.pkgd.min.js"></script>

{% endblock %}
