{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Nos actualités
{% endblock %}

{% block news %}<li class="active">{% endblock %}

{% block body %}
<!-- Section Title Blog -->
<div class="section-title-bg text-center m-bottom-40">
		<h2 class="wow fadeInDown no-margin" data-wow-duration="1s" data-wow-delay="0.6s"><strong>Actualités</strong></h2>
		<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
		<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Nous vous tenons informés des actions de l'association sur cette page.</p>
</div>

<!--BLog single section-->
<section class="blog-index">
		<div class="container clearfix">
				<div class="row">
						{% for new in pagination %}
								<div class="col-xs-12 m-bottom-20">
										<div class="blog wow zoomIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
												<div class="blog-media">
														<a href="{{url("new", {"id": new.id})}}"><img class="blog-img-height" src="{{asset(vich_uploader_asset(new.picture, 'imageFile'))}}" alt="{{new.picture.name}}"></a>
												</div>
												<div class="blog-post-info clearfix">
														<span class="time"><i class="fa fa-calendar"></i>{{new.publication|date("d/m/Y")}}</span>
														<span class="comments"><a href="#"><i class="fa fa-pencil"></i>{% if new.writer is defined and new.writer is not null %}{{new.writer.name}}{% endif %}</a></span>
												</div>
												<div class="blog-post-body">
														<h4><a class="title" href="{{url("new", {"id": new.id})}}">{{new.name}}</a></h4>
														<p class="p-bottom-20">{{ new.article|striptags > 100 ? new.article|striptags|slice(0, 101)|split(' ')|slice(0, -1)|join(' ') ~ '…' : new.article|striptags }}</p>
														<a href="{{url("new", {"id": new.id})}}" class="read-more">Lire la suite</a>
												</div>
										</div>
								</div>
						{% endfor %}
				</div>
		</div>
		<br>
		<center>
			<div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
		</center>
</section>
<!--End News -->
{% endblock %}

{% block js %}
	{{parent()}}
{% endblock %}
