{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Histoire
{% endblock %}

{% block story %}<li class="active">{% endblock %}

{% block body %}
<!-- Start BD -->
<section id="bd" class="p-top-50 p-bottom-50">
		<div class="container">
				<div class="section-title text-center m-bottom-50">
						<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Notre histoire</h2>
						<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
						<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
							Low Production a été fondée en 2022 à la suite un premier projet <b>documentaire</b> (<em>Berr(k)e</em>, 2021) dont l'exercice soulevait une question : <b>comment conter l'environnement sans l'impacter ?</b> Afin d'y répondre l'association cherche, depuis sa création, à <b>expérimenter</b> et documenter de manière <b>transparente</b> de <b>nouvelles manières</b> de produire et réaliser des documentaires. À partir de ses travaux, elle cherche à <b>transformer</b> et <b>sensibiliser</b> le milieu audiovisuel aux techniques de <em>Low Production</em>.
							<br><br>Avant d'être une association, Low Production est un projet personnel et une <b>revanche</b> sur le <b>rêve abandonné</b> de son fondateur William Boffy. Finalement, il s'agit de <b>rencontres</b>, de réflexions, de déceptions, de joies et d'<b>idées</b> qui ont abouti à la <b>création</b> d'un projet <b>collectif</b>, <b>libre</b> et qui tend à être respectueux de l'<b>environnement</b>. Afin de vous raconter cette histoire, le talentueux <a target="_blank" href='#'>Gaëtan Richard</a> en a réalisé une bande dessinée. Nous vous invitons à <b>plonger</b> dans les <b>fondements</b> et les <b>origines</b> de l'association.</p>
						<p class="wow fadeInDown m-top-20" data-wow-duration="1s" data-wow-delay="1s" style="background-color:#5DA4B3; color:white;"> /!\ PAGE EN COURS DE CONSTRUCTION - RÉALISÉE À PARTIR DU STORY BOARD /!\</p>
				</div>
				<div id="bd" class="row row-flex">
						<div id="cover-touch-protection"></div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/1.png" alt="">
								<p class="bd-text top-left">Naître dans les années 90,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/2.png" alt="">
								<p class="bd-text top-left">c’est naître dans un monde...</p>
								<p class="bd-text bottom-right">...où tout est possible.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/3.png" alt="">
								<p class="bd-text top-left">1996 en est un parfait exemple.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/4.png" alt="">
								<p class="bd-text top-left">Internet fait ses grands débuts,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/5.png" alt="">
								<p class="bd-text top-left">c’est la première fois qu’une française</p>
								<p class="bd-text bottom-right"> s’envole dans l’espace,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/6.png" alt="">
								<p class="bd-text top-left">une marque de soda s’offre un concorde et puis...</p>
								<p class="bd-text bottom-right">je suis né !</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/7.png" alt="">
								<p class="bd-text top-left">Bon, pour vous, ce n’est pas grand chose…<br>Mais imaginez pour moi !</p>
								<p class="bd-text bottom-right">Je suis né à Soissons.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/8.png" alt="">
								<p class="bd-text top-left"> Là-bas, on trouve des haricots</p>
								<p class="bd-text bottom-right">et un vase coupé en deux.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/9.png" alt="">
								<p class="bd-text top-left">Grandir en Picardie, ça fait pas rêver.</p>
								<p class="bd-text bottom-right">Pourtant,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/10.png" alt="">
								<p class="bd-text top-left">j’en garde un magnifique souvenir.</p>
								<p class="bd-text bottom-right">Ainsi qu’un attachement profond,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/11.png" alt="">
								<p class="bd-text top-left">à la vallée de l’Automne.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/12.png" alt="">
								<p class="bd-text top-left">Je connais ses forêts par cœur.</p>
								<p class="bd-text bottom-right">J’y vagabonde seul depuis tout gamin...</p>
							</img>
						</div>
						<div class="bd-case col-lg-8 col-md-8 col-sm-8 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/13.png" alt="">
								<p class="bd-text top-left">…et parfois, entre copains.</p>
								<p class="bd-text bottom-right">J'ai eu la plus belle des enfances.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/14.png" alt="">
								<p class="bd-text top-left">Malgré les apparences,</p>
								<p class="bd-text bottom-right">on avait la télévision en Picardie.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/15.png" alt="">
								<p class="bd-text top-left">J'en étais émerveillé.</p>
							</img>
						</div>
						<div class="bd-case col-lg-8 col-md-8 col-sm-8 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/16.png" alt="">
								<p class="bd-text top-left">J'avais les forêts du bout du monde</p>
								<p class="bd-text bottom-right">dans mon salon.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/17.png" alt="">
								<p class="bd-text top-left">Très vite,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/18.png" alt="">
								<p class="bd-text top-left">je rêvais de faire moi-même les documentaires</p>
								<p class="bd-text bottom-right">que je regardais.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/19.png" alt="">
								<p class="bd-text top-left">Pas tant pour filmer mais plutôt pour avoir un métier<p>
								<p class="bd-text bottom-right">qui consiste à s'émerveiller et être dehors.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/20.png" alt="">
								<p class="bd-text top-left">Une sorte de prétexte social...</p>
								<p class="bd-text bottom-right">pour vivre heureux quoi !</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/21.png" alt="">
								<p class="bd-text top-left">C'était décidé, je serai reporter.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/22.png" alt="">
								<p class="bd-text top-left">Fier de mon idée, j’achetais un carnet dauphin.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/23.png" alt="">
								<p class="bd-text top-left">J’avais tout en dauphin à la maison.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/24.png" alt="">
								<p class="bd-text top-left">J'y ai écrit quelque chose que j'aime bien relire,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/25.png" alt="">
								<p class="bd-text top-left">les jours où l'on oublie un peu trop...</p>
								<p class="bd-text bottom-right">qu'on a été enfant.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/26.png" alt="">
								<p class="bd-text top-left">Un jour, mon père a acheté une caméra.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/27.png" alt="">
								<p class="bd-text top-left">C’était un super modèle (à cassette).</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/28.png" alt="">
								<p class="bd-text top-left">Je passais des après-midi dans ma chambre,</p>
								<p class="bd-text bottom-right">à donner vie à mes legos.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/29.png" alt="">
								<p class="bd-text top-left">Petit à petit, je découvrais un domaine</p>
								<p class="bd-text bottom-right">qui ne me quitterait pas !</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/30.png" alt="">
								<p class="bd-text top-left">Enfin… c’est ce que je croyais parce que,</p>
								<p class="bd-text bottom-right">au fil des années, l’école s’imposait.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/31.png" alt="">
								<p class="bd-text top-left">J’étais un bon élève mais je passais mon temps</p>
								<p class="bd-text bottom-right">à regarder par-dessus la fenêtre.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/32.png" alt="">
								<p class="bd-text top-left">Je rêvais d’autres choses que</p>
								<p class="bd-text bottom-right">de passer mon enfance assis.</p>
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/33.png" alt="">
								<p class="bd-text top-left">Et puis, à force d’habitude,</p>
								<p class="bd-text bottom-right">j’ai oublié mes rêves...</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/34.png" alt="">
								<p class="bd-text top-left">…pour ceux de la société.</p>
							</img>
						</div>



						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/35.png" alt="">
								<p class="bd-text top-left">La routine s'installait...</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/36.png" alt="">
								<p class="bd-text top-left">Quand un jour, en faisant du tri,</p>
								<p class="bd-text bottom-right">je suis retombé sur mon petit carnet dauphin.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/37.png" alt="">
								<p class="bd-text top-left">Je devais rattraper mes rêves. Direction ?</p>
								<p class="bd-text bottom-right">Euh... les boîtes de nuit !</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/38.png" alt="">
								<p class="bd-text top-left">Engagé comme vidéaste, je filmais des DJ supers connus.</p>
								<p class="bd-text bottom-right">J'avais un peu honte de ne pas les connaître et d'écouter davantage du Michel Delpech.</p>
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/39.png" alt="">
								<p class="bd-text top-left">C'était un super job et tout l'argent que je gagnais,</p>
								<p class="bd-text bottom-right">je l'investissais dans du très bon matériel audiovisuel.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/40.png" alt="">
								<p class="bd-text top-left">Je continuais d'entretenir cette idée de pouvoir,</p>
								<p class="bd-text bottom-right">un jour, réaliser des documentaires.</p>
							</img>
						</div>
						<div class="bd-case col-lg-8 col-md-8 col-sm-8 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/41.png" alt="">
								<p class="bd-text top-left">À moi les dunes de Namibie, à moi les peubles d'Amazonie, à moi les glaciers du Groenland, à moi...</p>
								<p class="bd-text bottom-right">Oh non. Non... ça, je ne veux pas.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/42.png" alt="">
								<p class="bd-text top-left">À moi... la conscience écologique.</p>
								<p class="bd-text bottom-right">Du jour au lendemain, mon rêve devenait réalité.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/43.png" alt="">
								<p class="bd-text top-left">L'idée de prendre l'avion tous les quatre matins me semble alors folle.</p>
								<p class="bd-text bottom-right">Je m'autocensure dans une société qui ne me le demande pourtant pas.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/44.png" alt="">
								<p class="bd-text top-left">Que j'en veux à notre époque. Nous faire grandir avec l'idée de tout avoir, tout rêver, tout envisager pour finalement...</p>
								<p class="bd-text bottom-right">tout abandonner.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/45.png" alt="">
								<p class="bd-text top-left">J'avais l'impression qu'on me volait mon rêve d'enfant.</p>
								<p class="bd-text bottom-right">Alors j'ai repris une ligne plus conventionnelle avec deux stages dans l'environnement.</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/46.png" alt="">
								<p class="bd-text top-left">J'étais à la fois heureux d'oeuvrer pour mes convictions</p>
								<p class="bd-text bottom-right">et triste de le faire derrière un écran.</p>
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/47.png" alt="">
								<p class="bd-text top-left">Quand la Covid-19 a frappé à notre porte,</p>
								<p class="bd-text bottom-right">j'étais extenué par le virtuel.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/48.png" alt="">
								<p class="bd-text top-left">Alors j'ai pris une année sabbatique pour retrouver un copain.</p>
								<p class="bd-text bottom-right">Julien est un peu fou. Il a acheté un gros bateau à 24 ans.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/49.png" alt="">
								<p class="bd-text top-left">On s'était rencontrés au Maroc, autour d'un feu de camps...</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/50.png" alt="">
								<p class="bd-text top-left">J'ai rejoint son bateau comme média.</p>
								<p class="bd-text bottom-right">L'idée était de m'évader et de progresser en vidéo.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/51.png" alt="">
								<p class="bd-text top-left">Je ne pensais pas découvrir une passion pour la voile.</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/52.png" alt="">
								<p class="bd-text top-left">On allait de plage en plage pour ramasser des déchets.</p>
								<p class="bd-text bottom-right">J'adorais ça... La vie en communauté,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/53.png" alt="">
								<p class="bd-text top-left">les déplacements au gré du vent,</p>
								<p class="bd-text bottom-right">filmer...</p>
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/54.png" alt="">
								<p class="bd-text top-left">Dans cet élan de joie, je décide de réaliser mon premier documentaire !</p>
								<p class="bd-text bottom-right">Je n'étais pas encore prêt mais,</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/55.png" alt="">
								<p class="bd-text top-left">à rester dans ma chambre, je ne l'aurais jamais été.</p>
								<p class="bd-text bottom-right">De mon amateurisme, je voulais faire une force : un documentaire sincère.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/56.png" alt="">
								<p class="bd-text top-left">J'ai alors filmé les copains et découvert l'exercice</p>
								<p class="bd-text bottom-right">ainsi que la collaboration.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/57.png" alt="">
								<p class="bd-text top-left">Alors que je filmais, mon travail suscitait de la curiosité.</p>
								<p class="bd-text bottom-right">Très vite, un bénévole de l'association proposa de m'aider.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/58.png" alt="">
								<p class="bd-text top-left">Puis un autre. Et encore un autre...</p>
								<p class="bd-text bottom-right">Les bénévoles commençaient à se réunir pour découvrir la vidéo et contribuer au projet.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/59.png" alt="">
								<p class="bd-text top-left">Quant à moi, je m'éveillais à cette nouvelle manière de travailler</p>
								<p class="bd-text bottom-right">à plusieurs et dans le partage.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/60.png" alt="">
								<p class="bd-text top-left">Après des semaines de montage,</p>
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/61.png" alt="">
								<p class="bd-text top-left">Je suis allé présenter mon documentaire en ciné-débat !</p>
								<p class="bd-text bottom-right">J'étais si heureux...</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/62.png" alt="">
								<p class="bd-text top-left">Les gens échangeaient librement. Je découvrais mon projet dans d'autres bouches et d'autres yeux.</p>
								<p class="bd-text bottom-right">Ils se l'appropriaient et je devenais moi-même spectateur de mon travail.</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/63.png" alt="">
								<p class="bd-text top-left">Enfin... plutôt de ce qu'il devenait en prenant vie chez eux.</p>
								<p class="bd-text bottom-right">Il germait comme une graine.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/64.png" alt="">
								<p class="bd-text top-left">Je retrouvais ce que le petit William voulait faire.</p>
								<p class="bd-text bottom-right">Je partageais mes idées et mes sentiments.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/65.png" alt="">
								<p class="bd-text top-left">Et puis, le bénévole que j'étais percuta un second mur à pleine vitesse : le manque d'argent.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/66.png" alt="">
								<p class="bd-text top-left">Je suis alors retourné travailler</p>
								<p class="bd-text bottom-right">dans un précédent stage, sur l'île de La Réunion.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/67.png" alt="">
								<p class="bd-text top-left">J'ai dû reprendre l'avion.</p>
								<p class="bd-text bottom-right">Ça m'embêtait après autant d'efforts.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/68.png" alt="">
								<p class="bd-text top-left">Quand le premier film dont on se souvient au cinéma est La Marche de l'Empereur,</p>
								<p class="bd-text bottom-right">travailler aux Terres australes et antarctiques françaises est un immense privilège.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/69.png" alt="">
								<p class="bd-text top-left">Pourtant, jour après jour, je quittais à nouveau l'écran des yeux...</p>
								<p class="bd-text bottom-right">pour retrouver une fenêtre.</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/70.png" alt="">
								<p class="bd-text top-left">À La Réunion, le soleil tape fort et éblouit les fenêtres de lumière.</p>
								<p class="bd-text bottom-right">J'y projetais tout ce qui me faisait vibrer...</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/71.png" alt="">
								<p class="bd-text top-left">Le bateau... la vidéo... les rencontres...</p>
								<p class="bd-text bottom-right">Les idées s'alignaient...</p>
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/72.png" alt="">
								<p class="bd-text top-left">EUREKA ! J’avais l’impression de prendre</p>
								<p class="bd-text bottom-right">une revanche sur mon rêve d’enfant oublié.</p>
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/73.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-7 col-md-7 col-sm-7 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/74.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/75.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/76.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/77.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-6 col-md-6 col-sm-6 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/78.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-3 col-md-3 col-sm-3 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/79.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-4 col-md-4 col-sm-4 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/80.png" alt="">
							</img>
						</div>
						<div class="bd-case col-lg-5 col-md-5 col-sm-5 col-xs-12 col-equal">
							<img class="lazy" data-original="{{asset('bundles/web/')}}img/bd/81.png" alt="">
							</img>
						</div>
				</div>
				<br><p class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s" style="background-color: #5DA4B3;color:white;text-align:center;"> /!\ PAGE EN COURS DE CONSTRUCTION - À SUIVRE... /!\</p>
		</div>
</section>
<!-- End BD -->
{% endblock %}

{% block js %}
	{{parent()}}

	<script src="{{ asset('bundles/web/')}}js/lazyload.min.js"></script>

	<script type="text/javascript" charset="utf-8">
		$(function() {
			 $("img.lazy").lazyload({
					 effect : "fadeIn"
			 });

		});
	</script>

{% endblock %}
