{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Histoire
{% endblock %}

{% block story %}<li class="active">{% endblock %}

{% block body %}
	<p>Story view !</p>
{% endblock %}

{% block js %}
	{{parent()}}

	<!-- Components Plugin -->
	<script src="{{ asset('bundles/web/')}}js/smooth-scroll.js"></script>
	<script src="{{ asset('bundles/web/')}}js/jquery.appear.js"></script>
	<script src="{{ asset('bundles/web/')}}js/jquery.stellar.min.js"></script>
	<script src="{{ asset('bundles/web/')}}js/wow.min.js"></script>
	<script src="{{ asset('bundles/web/')}}inc/owlcarousel/js/owl.carousel.min.js"></script>

{% endblock %}
