{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | Nous soutenir
{% endblock %}

{% block og_img  %} {{ absolute_url(asset('web/img/slider/s4.jpg')) }} {% endblock %}

{% block support %}<li class="active">{% endblock %}

{% block body %}
<!-- Start Intro -->
<section id="slider">
		<div class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" id="rev_slider_280_1_wrapper" style="background-color:#fff;padding:0px;height:1080px;">
			<!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
			<div class="rev_slider fullscreenbanner" id="rev_slider_nagency" style="display:none;">
					<ul style="display:none;">

						<!-- slider Item 1 -->
						<li data-index="rs-1" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="N.Agency" data-description="">
							<img src="{{asset('web/')}}img/slider/s4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
								id="slide-1-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['-160','-170','-170','-120']"
								data-fontsize="['70','60','60','36']"
								data-lineheight="['70','60','60','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="chars"
								data-splitout="none"
								data-responsive_offset="on"
								data-elementdelay="0.05"
								style="z-index: 5; white-space: nowrap;">Nous soutenir
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle tp-resizeme white-color rs-parallaxlevel-4"
								id="slide-1-layer-2"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['-80','-90','-90','-60']"
								data-fontsize="['28','24','24','20']"
								data-lineheight="['28','24','36','30']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								style="z-index: 6; white-space: nowrap;">Aidez notre projet à se développer
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption rs-parallaxlevel-5"
								id="slide-1-layer-3"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['15','5','5','10']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
								data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
								data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_out="x:inherit;y:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-responsive_offset="on"
								data-responsive="off"
								style=""><a data-scroll href='#donate' class='btn btn-main btn-white'>En savoir plus</a>
							</div>

						</li>

						<!-- slider Item 2 -->
						<li data-index="rs-2" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off">
							<img alt="" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="5000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="110" src="{{asset('web/')}}img/slider/s5.jpg">

							<!-- LAYER NR. 1 -->
							<div class="tp-caption NotGeneric-Title tp-resizeme white-color rs-parallaxlevel-3"
								id="slide-3-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['-75','-70','-70','-45']"
								data-fontsize="['70','60','60','36']"
								data-lineheight="['70','60','60','50']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1000"
								data-splitin="chars"
								data-splitout="none"
								data-responsive_offset="on"
								data-elementdelay="0.05"
								style="z-index: 5; white-space: nowrap;">Nous rejoindre
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption NotGeneric-SubTitle white-color tp-resizeme rs-parallaxlevel-2"
								id="slide-3-layer-2"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-fontsize="['28','24','24','20']"
								data-lineheight="['28','24','36','30']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								style="z-index: 6; white-space: nowrap;">Devenir membre de l'association
							</div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption rs-parallaxlevel-5"
								id="slide-3-layer-3"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['90','90','100','75']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
								data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
								data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								data-mask_out="x:inherit;y:inherit;"
								data-start="2000"
								data-splitin="none"
								data-splitout="none"
								data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
								data-responsive_offset="on"
								data-responsive="off"
								style=""><a data-scroll href='#join' class='btn btn-main btn-transparent-light'>En savoir plus</a>
							</div>

						</li>

					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
			</div>
	</div>
</section>
<!-- End Intro -->

<!-- Start Support 1 -->
<section id="donate" class="p-top-40">
		<div class="container">
				<div class="row">
						<div class="section-title text-center m-bottom-60">
								<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Nous soutenir</h2>
								<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
								<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
									Low Production est une association à but non lucratif et c’est <strong>grâce à vous</strong> qu'elle peut avoir une indépendance financière et opérationnelle.
									<br>
									C'est avec le <strong>soutien financier</strong> de nos mécènes et l'<strong>investissement de nos bénévoles</strong> que nous pouvons <strong>réaliser</strong> des documentaires <strong>engagés</strong> et des <strong>études environnementales</strong>.
									<br>
									<br>
									Il est possible de s’engager en <b>adhérant</b>, en <b>participant</b> à nos missions, en organisant des <b>diffusions</b> chez soi ou en faisant une <b>donation</b> à l’association.
								</p>
								<center>
									<a class="btn btn-main m-top-20 btn-theme wow fadeInLeft" data-toggle="modal" data-target="#myModal" data-wow-duration="1s" data-wow-delay="0.5s">Soutenir le projet</a>
								</center>

								<!-- Modal -->
								<div id="myModal" class="modal fade" role="dialog">
								  <div class="modal-dialog modal-lg">
								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 style="text-align:left;" class="modal-title">Soutenir le projet</h4>
								      </div>
								      <div class="modal-body">
												<iframe class="m-bottom-30 iframe-helloasso" id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/low-production/formulaires/1/widget"></iframe>
												<span>Ouvrir la page sur <a target="_blank" href="https://www.helloasso.com/associations/low-production/formulaires/1/widget">helloasso.com</a></span>
								      </div>
								      <div class="modal-footer">
						            <button type="button" class="btn btn-main" data-dismiss="modal">Fermer</button>
								      </div>
								    </div>

								  </div>
								</div>
						</div>
				</div>
		</div>
</section>
<!-- End Support 1 -->

{% if members is defined and members is not null and members|length > 0 %}
		<!-- Start Members -->
		<section id="members" class="parallax-bg overlay-dark p-top-80 p-bottom-80" style="background-image:url({{asset('web/')}}img/members-bg.jpg)" data-stellar-background-ratio="0.2">
				<!-- Section Title -->
				<div class="section-title text-center white-color m-bottom-40">
						<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Paroles de membres</h2>
						<div class="divider-center-small divider-white wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
				</div>
				<!-- === Testimonials === -->
				<div id="owl-testimonials" class="owl-carousel owl-theme testimonial text-center white-color wow zoomIn"  data-wow-duration="0.6s" data-wow-delay="1s">
						{% for m in members %}
								<div class="testimonial-item text-center">
										<p class="testimonial-desc">{{m.quote|raw}}</p>
										<div class="testimonial-thumb">
												<img class="img-responsive" src="{{asset(vich_uploader_asset(m.picture, 'imageFile'))}}" alt="{{m.picture.name}}">
										</div>
										<h5 class="testimonial-author">{{m.name}}</h5>
										<h5 class="testimonial-profession">{{m.description|raw}}</h5>
								</div>
						{% endfor %}
				</div>
		</section>
		<!-- End Members -->
{% endif %}

<!-- Start Support 2  -->
<section id="join-us" class="p-top-30 p-bottom-50">
		<div class="container">
				<div class="row">
						<div class="section-title text-center m-bottom-60">
								<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Nous rejoindre</h2>
								<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
								<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
									Vous souhaitez vous mobiliser à nos côtés et aller <strong>encore plus loin dans votre engagement</strong> ?
									<br>Conformément aux <a target="_blank" href="{{asset('web/pdf/statuts_low_production.pdf')}}">statuts de l'association</a> et à notre <a target="_blank" href="{{asset('web/pdf/reglement_interieur_low_production.pdf')}}">règlement intérieur</a>, nous prévoyons plusieurs qualités de membres pour répondre à plusieurs niveaux d'investissement.<br>Faites <b>votre choix</b> !
									<br><br>
									N'hésitez pas à nous contacter pour <b>en savoir plus</b> sur l'association, avant de franchir le pas :)
								</p>
								<center>
									<a target="_blank" href="{{asset('web/pdf/dossier_candidature_2022_low_production.pdf')}}" class="btn btn-main m-top-20 btn-theme wow fadeInLeft" href="#" data-wow-duration="1s" data-wow-delay="0.5s">Dossier de candidature</a>
								</center>
						</div>
				</div>
		</div>
</section>
<!-- End Support 2 -->
{% endblock %}

{% block js %}
	{{parent()}}

	<!-- RS Plugin Extensions -->
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.carousel.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
	<script src="{{ asset('web/inc/revolution/js/extensions/revolution.extension.migration.min.js')}}"></script>
	<script src="{{ asset('web/js/visible-jquery.min.js')}}"></script>

	<!-- Components Plugin -->
	<script src="{{ asset('web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{ asset('web/')}}js/isotope.pkgd.min.js"></script>
	<script src="{{ asset('web/')}}inc/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="{{ asset('web/')}}inc/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Slider configuration -->
	<script>
		var tpj = jQuery;

		var revapi280;
		tpj(document).ready(function() {
				if (tpj("#rev_slider_nagency").revolution == undefined) {
						revslider_showDoubleJqueryError("#rev_slider_nagency");
				} else {
						revapi280 = tpj("#rev_slider_nagency").show().revolution({
								sliderType: "standard",
								sliderLayout: "fullscreen",
								dottedOverlay: "none",
								delay: 90000,
								navigation: {
									keyboardNavigation:"off",
									keyboard_direction: "horizontal",
									mouseScrollNavigation:"off",
									onHoverStop:"off",
									touch:{
										touchenabled:"on",
										swipe_threshold: 75,
										swipe_min_touches: 1,
										swipe_direction: "horizontal",
										drag_block_vertical: false
									}
									,
									arrows: {
												style: "uranus",
												enable: true,
												hide_onmobile: true,
												hide_under: 496,
												hide_onleave: true,
												hide_delay: 200,
												hide_delay_mobile: 1200,
												tmp: '',
												left: {
														h_align: "left",
														v_align: "center",
														h_offset: 20,
														v_offset: 0
												},
												right: {
														h_align: "right",
														v_align: "center",
														h_offset: 20,
														v_offset: 0
												}
										}
								},
								responsiveLevels: [1200, 991, 767, 480],
								visibilityLevels: [1200, 991, 767, 480],
								gridwidth: [1200, 991, 767, 480],
								gridheight: [868, 768, 960, 720],
								lazyType: "all",
								parallax: {
									type:"mouse+scroll",
									origo:"slidercenter",
									speed:2000,
									levels:[2,3,4,5,6,7,12,16,10,50],
									disable_onmobile:"on"
								},
								shadow: 0,
								spinner: "spinner2",
								autoHeight: "off",
								fullScreenAutoWidth: "off",
								fullScreenAlignForce: "off",
								fullScreenOffsetContainer: "",
								fullScreenOffset: "0",
								disableProgressBar: "on",
								hideThumbsOnMobile: "off",
								hideSliderAtLimit: 0,
								hideCaptionAtLimit: 0,
								hideAllCaptionAtLilmit: 0,
								debugMode: false,
								fallbacks: {
										simplifyAll: "off",
										disableFocusListener: false,
								}
						});
				}
		}); /*ready*/
	</script>

{% endblock %}
