{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} | L'équipe
{% endblock %}

{% block team %}<li class="active">{% endblock %}

{% block body %}

<!-- Start Portfolio -->
<section id="portfolio" class="p-top-40 p-bottom-80">
		<div class="container">

				<div class="row p-bottom-40">
						<div class="col-md-8 col-md-offset-2">
								<div class="section-title text-center m-bottom-40">
										<h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s"><strong>L'équipe</strong></h2>
										<div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
										<p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
											Pour certains de nos <b>bénévoles</b>, l'association a véritablement joué un rôle de <b>tremplin</b>. Pour d'autres, il s'agissait simplement d'une parenthèse. Quelque soit la place de l'audiovisuel dans leur vie actuelle, leurs divers talents <b>ont participé à la construction</b> et au <b>rayonnement</b> de Low Production.
											<br><br>Retrouvez ci-dessous tous les bénévoles qui sont passés par l'association et n'hésitez pas <b>à suivre</b> leurs travaux !
										</p>
								</div>
						</div>
				</div>

				<!-- Portfolio-filter -->
				<ul class="pf-filter pf-filter-gray text-center list-inline">
						<li><a href="#" data-filter="*" class="iso-active iso-button">Tous</a></li>
						{% for c in categories %}
								<li><a href="#" data-filter=".mt{{c.id}}" class="iso-button">{{c.name}}</a></li>
						{% endfor %}
						<li>
							<div class="dropdown">
								<a data-filter=".p" class="iso-button">Projets documentaires</a>
								<div class="dropdown-content">
									{% for p in projects %}
											<a data-filter=".p{{p.id}}" class="iso-button">{{p.name}}</a>
									{% endfor %}
								</div>
							</div>
						</li>
				</ul>

				<!-- Portfolio -->
				<div class="portfolio portfolio-isotope col-4 gutter">
						{% for member in members %}
						<!-- === Item === -->
						<div class="col-md-3 col-sm-6 col-xs-6 p-bottom-30 pf-item {% if member.projects is defined and member.projects|length > 0 %}p {% endif %} {% if member.memberType is defined and member.memberType is not null %}mt{{member.memberType.id}} {% endif %} {% for p in member.projects %}p{{p.project.id}} {% endfor %}">
								<div class="team-item">
										<div class="team-item-image">
												{% if member.portfolios|length != 0 %}
												<div class="team-item-image-overlay">
														<div class="team-item-icons">
																{% for portfolio in member.portfolios %}
																		<a target="_blank" href="{{portfolio.url}}"><i class="{{portfolio.portfolioType.icone}}"></i></a>
																{% endfor %}
														</div>
												</div>
												{% endif %}
												<img src="{{asset(vich_uploader_asset(member.picture, 'imageFile'))}}" alt="{{member.picture.name}}"/>
										</div>
										<div class="team-item-info">
												<div class="team-item-name">
														{{member.name}}
												</div>
												<div class="team-item-position">
														{{member.description|raw}}
												</div>
										</div>
								</div>
						</div>
						{% endfor %}
				</div>

		</div>
</section>
<!-- End Portfolio -->

<!-- Start Call to Action -->
<section class="light-bg p-top-60 p-bottom-60">
		<div class="container">
				<div class="row">

						<div class="col-xs-12 c2a-content text-center">
								<!-- Text -->
								<h2 class="wow fadeInDown" data-wow-delay="0.3s">Vous aimeriez en faire partie ?</h2>
								<p class="m-bottom-30 wow fadeInDown" data-wow-delay="0.4s">Il y a plusieurs moyens de s'investir dans l'association.</p>
								<!-- Button -->
								<a href="{{url("support")}}" class="btn btn-main btn-theme wow fadeInUp" data-wow-delay="0.5s">En savoir plus</a>
						</div> <!-- /.col -->

				</div>  <!-- /.row -->
		</div> <!-- /.container -->
</section>
<!-- End Call to Action -->


{% endblock %}

{% block js %}
	{{parent()}}
	<script src="{{asset('web/')}}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{asset('web/')}}js/isotope.pkgd.min.js"></script>
{% endblock %}
